h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: 900s;
    text-align: center;
    font-style: italic;
    line-height: normal;
    color: black;
    letter-spacing: normal;
    
   
}
 
body {
   background-image: url(backgroud1.jpg);
   background-position: 50%;
   background-size: 90%;









}
